<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Drag and Drop
  </h1>
  <ng-container *ngFor="let dropZone of droppableObjects; let i = index;">
    <div [appDroppable]="dropZone"
         (onDroppableComplete)="onZoneDrop($event)">
       <ng-container *ngFor="let draggableElement of draggableObjects[i]; let j = index;">
         <div [appDraggable]="draggableElement">
            {{draggableElement.data.name}}
         </div>

         

         <div *ngIf="j===1"  [appDraggable]="myDragableObjects22[0]" style="background-color:salmon">
           Salmon{{j}}
           
           <textarea [(ngModel)] = "myDragableObjects22[0].data.payload"></textarea>
<h1>H{{mydata}}X</h1>

<pre>{{myDragableObjects22[0] | json}}</pre>
         </div>
       </ng-container>
    </div>
  </ng-container>
  
  
</div>

